name: CI
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04  # ⬅️ CAMBIA ESTO
    
    steps:
      - uses: actions/checkout@v3  # ⬅️ Actualiza a v3 o v4

      # used to cache dependencies with a timeout
      - name: Get Date
        id: get-date
        run: |
          echo "date=$(/bin/date -u "+%Y%m%d")" >> $GITHUB_OUTPUT

      - name: Cache Buildozer global directory
        uses: actions/cache@v3  # ⬅️ Actualiza a v3
        with:
          path: .buildozer_global
          key: buildozer-global-${{ hashFiles('buildozer.spec') }}

      - uses: actions/cache@v3  # ⬅️ Actualiza a v3
        with:
          path: .buildozer
          key: ${{ runner.os }}-${{ steps.get-date.outputs.date }}-${{ hashFiles('buildozer.spec') }}

      - name: Build with Buildozer
        uses: ArtemSBulgakov/buildozer-action@v1
        id: buildozer
        with:
          command: buildozer android debug
          buildozer_version: stable

      - name: Upload artifacts
        uses: actions/upload-artifact@v3  # ⬅️ Actualiza a v3
        with:
          name: package
          path: ${{ steps.buildozer.outputs.filename }}
